header {
    padding: 30px 60px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero{
    text-align: center;
    padding: 80px 20px;
    max-width: 800px;
    margin: 0 auto;
}

.login-button {
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}


.primary-button {
    padding: 14px 28px;
    margin: 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.secondary-button {
     padding: 14px 28px;
    margin: 10px;
    border-radius: 8px;
    cursor: pointer;
}